* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html {
    height: 100%;
    top: 0;
}

.nav-bar {
    background-color: black;
    text-align: center;
    top: 0;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
}
.nav-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
    padding: 0;
    color: rgb(208, 204, 204);
}

.title {    
    text-align: center;
    color: rgb(208, 204, 204);
    background-color: blue;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 14% 0px;
}

.test {
    height: 100%;
}

.no-margin {
    margin: 0;
}

.name-title {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name-title:hover {
    color: black;
    font-size: 100px;
    transition: 1s;
}

.small {
    font-size: 24px;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}


@media screen and (max-width: 600px) {
    .name-title:hover {
        font-size: 60px;
        transition: 1s;
    }
    
    .title {
        padding: 100% auto;
    }

    .project-container {
        display: flex;
        flex-direction: column;
    }
}


